<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="divport" content="width=device-width, initial-scale=1">
    <title>浙江大学广播电视台周年庆</title>
    <link rel="shortcut icon" type="image/x-icon" href="img/logo.png" media="screen" />
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom CSS-->
    <link href="stylesheets/common.css" rel="stylesheet" />
    <link href="stylesheets/gallery.css" rel="stylesheet" />
</head>

<body>
    <nav class="navbar navbar-default white" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
                <img class="navbar-logo" src="img/logo.png" />
                <a>欢迎您欣赏台胞上传的照片</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse" aria-expanded="false">
            <div id="navbar" class="navbar-collapse collapse" aria-expanded="false">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/users">上传我的图片</a></li>
                </ul>
            </div>
                <!--ul class="nav navbar-nav navbar-right">
            <li><a href="{$logout_url}"><span class="glyphicon glyphicon-off"></span> 登出</a></li>
          </ul-->
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <div class="container">
        <div class="row" id="gallery">
            <% pass.forEach(function(row){ %>
            <div class="box">
                <img src="<%= row.source %>" />
                <div class="mask clickable" data-toggle="modal" data-target="#oriPic"></div>
            </div>
            <% }) %>
            <!--div class="box">
                <img src="try/1.jpg" />
                <div class="mask clickable" data-toggle="modal" data-target="#oriPic"></div>
            </div>
            <div class="box">
                <img src="try/2.jpg" />
            </div>
            <div class="box">
                <img src="try/3.jpg" />
            </div>
            <div class="box">
                <img src="try/4.jpg" />
            </div>
            <div class="box">
                <img src="try/5.jpg" />
            </div>
            <div class="box">
                <img src="try/6.jpg" />
            </div>
            <div class="box">
                <img src="try/7.jpg" />
            </div-->
        </div>
    </div>

    <div class="modal fade" id="oriPic" tabindex="-1" aria-hidden="true">
        <div class="modal-content fixed-pic">
            <img src="try/1.jpg">
        </div>
    </div>
    <!-- /.modal -->

    <script src="jquery/jquery.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script>
        $(window).on('load', function() {
            adjust();
            $("#gallery .box div").click(function() {
                $("#oriPic img").attr("src", $(this).prev().attr("src"));
            });
        });

/*$(window).resize(function() {
	try{
		if(resizeTimer == undefined || resizeTimer)clearTimeout(resizeTimer);
	}catch(e){}
    resizeTimer = setTimeout(function() {
        adjust();
    }, 500);
});*/

function adjust() {
    $("#gallery .box div").hide();
    var boxes = $("#gallery .box");
    var recent_num = 0;
    var recent_width = 0;
    var passall = <%- JSON.stringify(pass) %>;
    console.log('boxeslength' + boxes.length);
    for (var index = 0; index < boxes.length; index++) {
    //var index = 0;
        
        recent_width += $(boxes[index]).width();
        if (recent_width >= $("#gallery").width() - $(boxes[index]).height() / 2) {
            var new_height = $("#gallery").width() * $(boxes[index]).height() / (recent_width + recent_num * 16) - 8;
            for (var i = 0; i <= recent_num; i++) {
                $(boxes[index - i]).find("img").height(new_height);
                $(boxes[index - i]).find(".mask").height(new_height);
                $(boxes[index - i]).find(".mask").width($(boxes[index - i]).width());
            }
            recent_num = 0;
            recent_width = 0;
        } else
            recent_num += 1;

        var picIntro = $("<div class = 'single-line pic-intro'></div>").text(passall[index].name);
        var picTitle = $("<div class = 'pic-title'></div>").text(passall[index].name);
        var picContent = $("<div class = 'pic-content'></div>").text(passall[index].description);
        $(boxes[index]).find(".mask").append(picIntro);
        $(boxes[index]).find(".mask").append(picTitle, picContent);
        $(boxes[index]).find(".mask").find(".pic-title").hide();
        $(boxes[index]).find(".mask").find(".pic-content").hide();

        $(boxes[index]).find(".mask").hover(function() {
            console.log('i1' + index);
            $(this).find(".pic-intro").hide();
            $(this).find(".pic-title").show();
            $(this).find(".pic-content").show();
            
        },
            function() {
                $(this).find(".pic-intro").show();
                $(this).find(".pic-title").hide();
                $(this).find(".pic-content").hide();
            }
        );
    }

    //$("#gallery .box div")
    $("#gallery .box .mask").show();
}
    </script>
</body>

</html>