<!DOCTYPE html>
<html>
  <head>
    <title>浙江大学广播电视台周年庆</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="users/upload" method="post" enctype="multipart/form-data">
    	<input type="file" name="photo">
    	<input type="text" name="grade" placeholder="请输入毕业届">
    	<input type="text" name="name" placeholder="请输入姓名">
    	<input type="text" name="phone" placeholder="请输入电话号码">
    	<input type="textarea" name="description" placeholder="请输入描述">
    	<input type="submit">
	</form>
  </body>
</html>
