<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="UTF-8">
    <title>浙江大学广播电视台台庆后台管理页面</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css"/>
    <link rel='stylesheet' href='stylesheets/common.css' />
    <link rel='stylesheet' href='stylesheets/login.css' />
    <script src="jquery/jquery.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div class = "container">
      <div class = "cardSheet">
        <h1 style="color:#206EC3; margin-top:60px; margin-bottom: 80px;"> 浙江大学广播电视台台庆后台管理页面 </h1> 
        <form action="/admin/verification" method="post">
            <input type="password" class = "form-control log bottom" name="identity_code" id="password" placeholder="请输入密码"/>
          <button type="submit" class = "btn cos-btn btn-primary log-btn" value="提交">提交</button>
        </form>
        <p id = "notice">直接输入密码即可</p>
      </div>
    </div>
  </body>
</html>