<!DOCTYPE html>
<html>
  <head>
    <title>浙江大学广播电视台台庆后台管理页面</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/admin/verification" method="post">
    	请输出验证码<input type="password" name="identity_code" placeholder="请输入密码">
    </form>
  </body>
</html>
