.container {
    width: 100%;
    padding: 20px;
}

#gallery {
    width: 100%;
    margin: 0;
    position: relative;
}

.box {
    padding: 5px;
    background-color: white;
    border: solid #ddd 1px;
    box-shadow: 0 0 5px #ddd;
    float: left;
    position: relative;
    margin: 2px;
}

.box img {
    height: 300px;
    width: auto;
}

.single-line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mask {
    top: 0;
    left: 0;
    margin: 5px;
    padding: 0;
    height: 300px;
    color: white;
    position: absolute;
    vertical-align: bottom;
    opacity: 0.5;
    filter: (alpha=0.5);
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 1));
    /* Safari 5.1 - 6 */
    background: -o-linear-gradient(rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 1));
    /* Opera 11.1 - 12*/
    background: -moz-linear-gradient(rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 1));
    /* Firefox 3.6 - 15*/
    background: linear-gradient(rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 1));
    /* 标准的语法 */
    transition: all 0.2s ease-in-out;
}

.pic-intro {
    color: white;
    padding: 10px;
    font-size: 20px;
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
}

.pic-title {
    text-align: center;
    padding: 10px;
    padding-top: 80px;
    width: 100%;
    font-size: 2rem;
}

.pic-content {
    word-wrap: break-word;
    padding: 10px 15%;
    text-align: center;
    padding-top: 0;
}

.mask:hover {
    background-color: black;
    opacity: 0.6;
    filter: (alpha=60);
}

@media screen and (max-width: 768px) {
    /*.box img {
        height: 150px;
    }
    .mask {
        height: 150px;
    }*/
    .navbar-toggle {
        display: none;
    }
}
